*:focus {
    outline: none;
}

[hidden] {
    display: none !important;
}

html, body {
    font-family: 'Fredoka One', cursive;
    background-color:#eee;
    color: #4b2e4c;
    overflow:hidden;
    height:100%;
    margin:0;
    padding:0;
}

body.wait {
    opacity: 0.5;
}

body.wait,
body.wait * {
    cursor: progress !important;
}

body.darkui {
    background-color: #282828;
}

p, input, textarea {
    font-family: 'Lato', sans-serif;
    cursor: auto;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
    color: #000;
    resize: none;
    margin:0;
}

.darkui p,
.darkui input,
.darkui textarea,
.darkui select {
    color: #fff;
}

input, textarea {
    font-size:15px;
    background-color:#eee;
    height:16px;
    border:2px solid rgba(0,0,0,0.1);
    border-radius: 5px;
}

select {
    border-radius: 5px;
    background-color: #eee;
    border-color: rgba(0, 0, 0, 0.1);
}

.darkui input,
.darkui textarea,
.darkui select {
    background-color: #181818;
}

input:focus,
textarea:focus {
    background-color:#ffffe0;
}

.darkui input:focus,
.darkui textarea:focus {
    background-color: #474747;
}

a {
    cursor: auto;
    color: #4b2e4c;
    text-decoration:none;
}

.primary {color: #4b2e4c;}
.red {color: #ba381a;}
.white{color: #fff;}
.big {font-size:20px;}
.small {font-size:15px;}
.soft {
    list-style-type: none;
    color: gray;
    font-size:12px;
    font-weight: 200;
}

*:not(input){
   cursor: default;
  -webkit-font-smoothing: antialiased;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
      user-select: none;
  -webkit-user-drag: none;
  -moz-user-drag: none;
  user-drag: none;
  text-shadow: 0 1px rgba(100,100,100,0.3);
}

main {
  width:100%;
  max-width:1300px;
  min-width:833px;
  height:100%;
  max-height:750px;
  min-height:500px;

  position:absolute;
  left:0; right:0;
  top:0; bottom:0;
  margin:auto;
}

#topRight {
    right: 10px;
    position: absolute;
    width: 245px;
}

.darkui #topRight,
.darkui #topRight a {
    color: #eee;
}

#AButton, #BButton {
	display: none;
}

/* custom scrollbar styles */

::-webkit-scrollbar {
    width:8px;
}

::-webkit-scrollbar-track {
    background:rgb(238, 238, 238);
    border:none;
    box-shadow:0 0 3px #dfdfdf inset;
}

::-webkit-scrollbar-thumb {
    background-color:#4b2e4c;
    border-radius:8px;
}

::-webkit-scrollbar-thumb:hover {
    background-color:#7b4c7c;
}

.darkui ::-webkit-scrollbar-track {
    background: #282828;
    box-shadow: 0 0 3px #181818 inset;
}

.darkui ::-webkit-scrollbar-thumb {
    background-color: #eee;
}

.darkui ::-webkit-scrollbar-thumb:hover {
    background-color: #fff;
}

.py-error {
    display: none;
}
