.ExitLabel {
	padding: 10px;
	color: rgbA(243, 243, 243, 100);
	cursor: pointer;
	background-size: 110%;
	line-height:0;
	background: url("https://childrenofur.com/locodarto/scenery/exit_sign.png") center;
	white-space: nowrap;
	position: absolute;
}

.ExitLabel:hover, .hovered {
	/*-webkit-filter: drop-shadow(0 0 5px rgba(0,0,220,1));
    filter: url("data:image/svg+xml;utf8,<svg height='0' xmlns='http://www.w3.org/2000/svg'><filter id='drop-shadow'><feGaussianBlur in='SourceAlpha' stdDeviation='4'/><feOffset dx='0' dy='0' result='offsetblur'/><feFlood flood-color='rgba(0,0,220,1)'/><feComposite in2='offsetblur' operator='in'/><feMerge><feMergeNode/><feMergeNode in='SourceGraphic'/></feMerge></filter></svg>#drop-shadow");
    -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=0, Color='#dc')";
    filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=0, Color='#dc')";*/
	-webkit-filter: drop-shadow(0 0 2px cyan);
	-moz-filter: drop-shadow(0 0 2px cyan);
	-o-filter: drop-shadow(0 0 2px cyan);
	filter: drop-shadow(0 0 2px cyan);
}

.ExitLabel:active {
	-webkit-filter: drop-shadow(0 0 1px cyan);
	-moz-filter: drop-shadow(0 0 1px cyan);
	-o-filter: drop-shadow(0 0 1px cyan);
	filter: drop-shadow(0 0 1px cyan);
}

.streetcanvas {
	pointer-events: none;
	will-change: transform;
	backface-visibility: hidden;
}