#loading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-width: 833px;
    height: 100%;
    min-height: 500px;
    background-color: #eee;
    z-index: 100;
    font-size: 20px;
    opacity: 1;

    -webkit-transition-property: opacity, background;
    -moz-transition-property: opacity, background;
    transition-property: opacity, background;

    -webkit-transition-duration: 0.3s, 0.5s;
    -moz-transition-duration: 0.3s, 0.5s;
    transition-duration: 0.3s, 0.5s;

    -webkit-transition-timing-function: ease-in-out, linear;
    -moz-transition-timing-function: ease-in-out, linear;
    transition-timing-function: ease-in-out, linear;

    /* Sky */
    background: #79fcfa;
    background: -moz-radial-gradient(center, circle cover, #79fcfa 0%, #e8ffff 95%);
    background: -webkit-radial-gradient(center, circle cover, #79fcfa 0%,#e8ffff 95%);
    background: radial-gradient(circle at center, #79fcfa 0%,#e8ffff 95%);
}

.darkui #loading {
    background: #47638C;
    background: -moz-radial-gradient(center, circle cover, #47638C 0%, #000000 95%);
    background: -webkit-radial-gradient(center, circle cover, #47638C 0%,#000000 95%);
    background: radial-gradient(circle at center, #47638C 0%,#000000 95%);
}

#spinny-ur {
    animation: 80s rotate infinite linear;
    -moz-animation: 80s rotate infinite linear;
    -webkit-animation: 80s rotate infinite linear;
    width: 85%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    z-index: -1;
}

@keyframes rotate {

    from {
        transform: translate3d(-50%, -50%, 0) rotate(0deg);
    }

    to {
        transform: translate3d(-50%, -50%, 0) rotate(360deg);
    }

}

@-webkit-keyframes rotate {
    from {
        -webkit-transform: translate3d(-50%, -50%, 0) rotate(0deg);
    }
    to {
        -webkit-transform: translate3d(-50%, -50%, 0) rotate(360deg);
    }
}

@-moz-keyframes rotate {
    from {
        transform: translate3d(-50%, -50%, 0) rotate(0deg);
    }
    to {
        transform: translate3d(-50%, -50%, 0) rotate(360deg);
    }
}

cou-login {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#loading #loadstatus {
    font-size: 14px;
    position: absolute;
    bottom: 45px;
    left: 8px;
}

.darkui #loadstatus {
    color: #fff;
}

#loading #loadstatus2 {
    font-size: 12px;
    position: absolute;
    bottom: 33px;
    left: 8px;
    opacity: 0.7;
}

.darkui #loadstatus2 {
    color: #eee;
}

/* Loading a street */

#MapLoadingScreen {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 1;
    z-index: 3;
    pointer-events: none;
    transition-property: opacity;
    transition-duration: 0.5s;
    transition-timing-function: linear;
    transition-delay: 0.5s;
    -webkit-transition-property: opacity;
    -webkit-transition-duration: 0.5s;
    -webkit-transition-timing-function: linear;
    -webkit-transition-delay: 0.5s;
    display: flex;
    flex-direction: row;
    background: #829363;
}

.street-load-section {
    flex: 1;
    padding: 64px;
}

.street-load-section-entering {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}

.street-load-image {
    width: calc(100% - 20px);
    height: auto;
    margin: auto;
    border: 10px solid rgba(255, 255, 255, 0.3);
    border-radius: 3px;
    z-index: -1;
}

.street-load-section h1 {
    color: #f7ff95;
    /* I'm not using 'vh' because there's no 'font-size-max' property. */
    font-size: 50px;
    line-height: 50px;
    margin: 0;
    text-shadow: 0 4px rgba(0, 0, 0, 0.3);
}

.street-load-section h2 {
    color: #fff;
    text-shadow: 0 4px rgba(0, 0, 0, 0.3);
    font-size: 30px;
    line-height: 30px;
}

.street-load-section h3 {
    color: #fff;
    text-shadow: 0 2px rgba(0, 0, 0, 0.3);
    font-size: 15px;
    line-height: 15px;
}

.street-load-section p h3 {
    display: inline;
}

.street-load-section p {
    color: #fff;
    width: 80%;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}

.street-load-progress {
    position: absolute;
    left: 64px;
    width: calc(100% - 132px);
    bottom: 12%;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}

.street-load-section .entity-list {
    white-space: nowrap;
}

@media(max-height: 700px) {
    .street-load-section .entity-list {
        display: none;
    }
}

/* Browser Errors */

#browser-error {
    background-color: #eee;
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 60px);
    height: calc(100% - 60px);
    padding: 30px;
    z-index: 1024;
    color: #000 !important;
    font-family: "Lato", sans-serif !important;
}

#browser-error p {
    margin: 20px 0;
}

#browser-error a {
    cursor: pointer;
    text-decoration: underline;;
}

#loginscreen {
    position: relative;
    display: inline-block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 10px;
    border-radius: 10px;
}

#loginscreen input {
    height: initial;
}

#loginscreen button * {
    cursor: inherit;
}
