/* Just allow firebase to style itself how it wants */
.firebaseui-text {
    color: initial !important;
}

.firebaseui-textfield input {
    color: initial !important;
    background-color: initial !important;
}

.greeting {
    text-align: center;
    font-size: 14pt;
    width: 100%;
    display: inline-block;
    color: #4b2e4c;
    font-family: 'Fredoka One', cursive;
}
.waiting {
    opacity: .4;
    pointer-events: none;
}

.logo {
    width: 100px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

#loginscreen p {
    color: initial;
}

#loginscreen input {
    background-color: initial;
    color: initial;
}

#loginscreen input {
    margin-left: auto;
    margin-right: auto;
}

#createuserbutton {
    margin-top: 20px;
}

#avatar-preview {
    display: flex;
    flex-direction: row;
}

#avatar-preview > * {
    flex: 1;
}

#avatar-left {
    cursor: pointer;
}

#avatar-left > img {
    margin-left: 10px;
}

#avatar-container {
    overflow: hidden;
    height: 150px;
    position: relative;
}

#avatar-img {
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    height: 100%;
}

.center {
    text-align: center;
}

.small {
    font-size: small;
}

.errorText {
    font-size: small;
    color: red;
}