/* Base CSS file for CoU on mobile devices */

/* Interface */
@import url(input.css) (max-width: 768px);

#inventory {
    display: none;
    position: fixed;
    bottom: 0;
}

#rightSide {
    display: none;
}

#panel {
    display: none;
}

main {
    margin: 0;
}

#game {
    width: 100%;
}

#game-column-right {
    right: 30px;
}

#inventorySearch {
    display: none;
}

#MobileButtonContainer {
    right: 50px;
}

#petrock {
    left: 50%;
}

#SCwidget {
    display: none;
}

#windowHolder .window {
    width: calc(100vw - 45px);
    height: calc(100vh - 45px);
    top: 0;
    left: 0;
    transform: none;
}

.always {
    z-index: inherit !important;
}