#emoticonPicker {
    width: 380px !important;
}

#emoticonPicker .well * {
    font-family: "Lato", sans-serif;
}

#ep-search {
    width: 380px;
    padding: 2px;
    margin-bottom: 5px;
    position: relative;
    left: 2px;
}

#ep-help {
    text-align: center;
    position: relative;
    top: -3px;
    color: #444;
}

#ep-grid {
    height: 265px;
    overflow-y: scroll;
    padding: 3px 0 0 1px;
}

.ep-emoticonButton {
    width: 50px;
    height: 50px;
    display: inline-block;
    background-color: #fff;
    margin: 3px;
    padding: 2px;
    border-radius: 8px;
    cursor: pointer;
    border: 1px solid #bbb;
    border-bottom: 2px solid #bbb;
    box-shadow: 0 0 15px 1px rgba(0,0,0,0.1);
    vertical-align: middle;
    text-align: center;
}

.darkui .ep-emoticonButton {
    background-color: #282828;
    border-color: #181818;
}

.ep-emoticonButton .emoticon {
    cursor: pointer;
}

.ep-emoticonButton img.emoticon {
    max-height: 30px;
    max-width: 30px;
    height: auto;
    width: auto;
    margin-top: 50%;
    transform: translateY(-50%);
}

#emoticonPicker .well [draggable=true] {
    -khtml-user-drag: element;
    -webkit-user-drag: element;
    -moz-user-drag: element;
    -o-user-drag: element;
    user-drag: element;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.ep-emoticonButton:hover {
    background-color: #eee;
}

.ep-emoticonButton:active {
    border: 1px solid #ccc;
}

/* Trigger buttons */

a.insertemoji {
    position: absolute;
    right: 6px;
    bottom: 5px;
    width: 18px;
    height: 18px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 0 4px 4px 0;
    border: 2px solid #D5D5D5;
}

a.insertemoji:hover {
    background-color: #ffe778;
}

.darkui a.insertemoji:hover {
    background-color: #181818;
}

a.insertemoji:active {
    background-color: #ffcac1;
}

a.insertemoji .fa {
    cursor: pointer;
}

.darkui a.insertemoji {
    border-color: rgba(0,0,0,0.1);
    color: #eee;
}