#inventory {
  position:absolute;
  bottom:15px;
  left:18px;
  padding:1px;
  height:60px;
  width:calc(100% - 280px);
  max-width:calc(100% - 40px);
  min-width:calc(300px - 40px);
  white-space: nowrap;
  text-align:center;
}

#inventory.disabled {
    opacity: 0.5;
    pointer-events: none;
}

#inventorySearch {
  background-color:#eee;
  width:40px;
  height:40px;
  border-radius:8px;
  position:absolute;
  bottom:75px;
  right: 250px;
  cursor:pointer;
  z-index:0;
}
#inventorySearch * {
  height:30px;
  color:#bbb;
  position:absolute;
  top: calc(40% - 0.7em);
  left:calc(40% - 0.5em);
  cursor:pointer;
}

.darkui #inventorySearch {
	background-color: #282828;
}

.darkui #inventorySearch * {
	color: #aaa;
}

i.fa.fa-search {}

#inventorySearch:hover, #inventorySearch *:hover {
  color:#999;
}

.inventoryItem {
  cursor: pointer;
  -webkit-user-drag: element;
  -moz-user-drag: element;
  user-drag: element;
}

.inventoryItem.inv-item-disabled {
    opacity: 0.5;
    pointer-events: none;
}

.itemCount {
  position: absolute;
  bottom: 0;
  right: 3px;
  -webkit-text-stroke: 1px #eee;
  paint-order: fill stroke;
}

.darkui .itemCount {
    color: #eee;
    -webkit-text-stroke: initial;
}

.durabilityBackground {
    position: absolute;
    width: calc(100% - 12px);
    height: 5px;
    background: #B5ADB5;
    border-radius: 5px;
    left: 50%;
    transform: translate(-50%, 4px);
    cursor: help;
}

.darkui .durabilityBackground {
    background-color: #181818;
}

.durabilityForeground {
    position: absolute;
    height: 5px;
    background: #4b2e4c;
    border-radius: 5px;
    pointer-events: none;
}

.darkui .durabilityForeground {
    background-color: #eee;
}

.durabilityForeground.durabilityWarning {
    background-color: #B03333;
}

#broken {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 1024;
  text-align: center;
  font-size: 80px;
  padding-top: 50px;
  font-weight: bold;
  font-family: "Lato", sans-serif;
}

#bagWindow article .storage {
    text-align: center;
}

#bagWindowIcon {
    position: relative;
    top: -8px;
}

/* this is the actual search box*/
#invsearch {
    width: 430px;
    padding: 5px;
    background-color: #fff;
    border-radius: 8px;
    border: 2px solid rgba(0,0,0,0.3);
    z-index: 1;
    box-shadow: 0 0 5px 1px rgba(0,0,0,0.1);
    display: block;
    margin-left: auto;
    margin-right: auto;
    outline: none;
}

#invsearch:focus {
    box-shadow: 0 0 15px 1px rgba(0,0,0,0.1);
}

.box {
    background-color: #fff;
    border-radius: 8px;
    width:40px;
    height:40px;
    margin:4px 0;
    border: 1px solid #bbb;
    border-bottom:2px solid #bbb;
    z-index:1;
    box-shadow: 0 0 15px 1px rgba(0,0,0,0.1);
    display: inline-block;
    padding:5px;
}

.darkui .box {
    background-color: #282828;
    border-color: #181818;
}

.box:empty {
    /*background-color: #ddd;*/
}

.box .icon {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin:auto;
    /* Maintain aspect ratio */
    max-height: 90%;
    max-width: 90%;
}

.box {
    position: relative;
}

/* Bag Buttons */

.item-container-toggle {
    border-radius: 50%;
    height: 16px;
    width: 16px;
    position: absolute;
    bottom: 2px;
    left: 2px;
    border: 2px solid #aaa;
    cursor: pointer;
    line-height: 15px;
    text-align: center;
    font-size: 12px;
}

.darkui .item-container-toggle {
    border-color: #eee;
}

.item-container-toggle.item-container-closed {
    background-color: #eee;
    color: #aaa;
    height: 16px;
    width: 16px;
}

.darkui .item-container-toggle.item-container-closed {
    background-color: #282828;
    color: #eee;
}

.item-container-toggle.item-container-open {
    background-color: #aaa;
    color: #eee;
    height: 16px;
    width: 16px;
}

.darkui .item-container-toggle.item-container-open {
    background-color: #181818;
    color: #fff;
}

/* Dead */

#inventory #disableinventory {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(238, 238, 238, 0.8);
    z-index: 10;
    line-height: 65px;
    border-radius: 8px;
    font-size: 24px;
}

/* Item dragging */

.item-flying {
    opacity: 0.5;
    z-index: 2048;
}
